<body style="height: 650px; margin-left: -20px; margin-top: -20px; width: 1020px;">
    <!--Content-->
            
    <div class="top-content-container">
        <button class="add" mat-flat-button color="primary" (click)="addEmployee({}, -1)">Add Employee</button>

        <div class="content">
            <div fxLayout="row wrap" fxLayoutGap="20px"></div>
            <div fxLayout="row wrap">
            <div fxFlex="25%" fxFlex.xs="100%" fxFlex.sm="33%" *ngFor="let employee of employeeAll | paginate : {
                itemsPerPage: tableSize,
                currentPage: page,
                totalItems: count
            }; 
            let idx=index">
                <mat-card class="mat-elevation-z4" >
                    <img class="image" src="{{employee.link_image}}" alt="">
                <mat-card-header>
                    
                    <mat-card-title>{{employee.first_name}} {{employee.last_name}}</mat-card-title>
                </mat-card-header>
                <mat-card-content>
                    <p>
                        {{employee.email}}
                    </p>
                </mat-card-content>
                <mat-card-actions>
                    <button class="update" mat-button color="primary" (click)="addEmployee(employee,idx)">Update</button>
                    <button class="delete" mat-button color="warn" (click)="deleteEmployee(employee.id, idx)">Delete</button>
                </mat-card-actions>
                </mat-card>
            </div>
            </div>
        </div>
        <div class="pagination">
            <pagination-controls  
            previousLabel="Prev" 
            nextLabel="Next" 
            (pageChange)="onTableDataChange($event)">
            </pagination-controls>
        </div>
    </div>
</body>

<router-outlet></router-outlet>
